<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="jp.co.asial.testapp"
  version="0.0.1">

    <name>TestAppPlugin</name>
    <description>TestAppPlugin Description</description>
    <author>Asial Corporation</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <js-module src="www/test_app.js" name="testapp">
        <clobbers target="TestApp" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TestAppPlugin"> 
                <param name="android-package" value="test.TestAppPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/test/TestAppPlugin.java" target-dir="src/test" />        
    </platform>

</plugin>